* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
}
:root {
  --color-primary: #4c6ef5;
  --color-primary-2: #5c7cfa;
  --color-bg: #f8f9fa;
  --color-btn-cancel: #ced4da;
  --color-text: #212529;

  --color-note-1: #ff6b6b;
  --color-note-2: #f06595;
  --color-note-3: #da77f2;
  --color-note-4: #9775fa;
  --color-note-5: #748ffc;
  --color-note-6: #339af0;
  --color-note-7: #3bc9db;
  --color-note-8: #38d9a9;
  --color-note-9: #ffe066;
  --color-note-10: #ffa94d;
}
a {
  cursor: pointer;
}
body {
  background: linear-gradient(to right bottom, var(--color-primary), #00a2ff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 1000px;
  height: 80vh;
  margin: 0 auto;
  background-color: var(--color-bg);
  position: relative;
  overflow: auto;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
}
.container::-webkit-scrollbar {
  display: none;
}
.title-bar {
  width: 100%;
  min-height: 70px;
  background-color: var(--color-primary-2);
  color: var(--color-bg);
  display: flex;
  align-items: center;
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.title-bar .title {
  font-family: "Secular One", sans-serif;
  font-size: 1.5rem;
  margin-left: 20px;
}
.container .add-btn {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  position: sticky;
  left: 90%;
  bottom: 50px;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.226);
  transition: all 0.3s ease-in-out;
}
.add-btn:active {
  transform: scale(0.75);
}
.container .add-btn .add-btn-icon {
  height: 30px;
  color: var(--color-bg);
}
.content {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly;
  margin-top: 30px;
  min-height: calc(100% - 70px);
}
.note-container {
  position: relative;
  min-height: 250px;
  max-height: 300px;
  overflow: auto;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #adb5bd;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.note-container::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}
.note-container:hover {
  box-shadow: 0px 5px 10px rgb(0 0 0 / 20%);
}
.note-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  border-bottom: 1px solid #0000001f;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-bg);
}
.tool {
  display: flex;
  justify-content: space-around;
  flex-basis: 20%;
}
.edit,
.delete {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
}

.tool-delete:hover .delete {
  opacity: 1;
}
.tool-edit:hover .edit {
  opacity: 1;
}
.note-content {
  max-width: 100%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  overflow-wrap: break-word;
}
.note-editor {
  position: absolute;
  height: 400px;
  width: 600px;
  background-color: #fff;
  z-index: 2000;
  display: flex;
  opacity: 1;
  visibility: visible;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  transition: all 0.3s;
}
.note-editor .title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title .title-name {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-size: 1.2rem;
  outline: none;
  border: none;
  font-family: inherit;
  font-weight: 600;
}
.title-name:focus {
  outline-offset: -2px;
  outline: var(--color-primary) solid 2px;
}
.note-editor .note-data {
  width: 100%;
  height: 300px;
}
.note-data .note {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-size: 1rem;
  outline: none;
  border: none;
  resize: none;
  font-family: inherit;
}
.note:focus {
  outline-offset: -2px;
  outline: var(--color-primary) solid 2px;
}
.note-editor-footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-editor-footer .btn-box {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
  flex-direction: row-reverse;
}
.btn-box .btn-save {
  border: none;
  outline: none;
  background-color: var(--color-primary);
  color: white;
  font-family: inherit;
  padding: 7px 20px;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
}
.btn-box .btn-cancel {
  border: none;
  outline: none;
  background-color: var(--color-btn-cancel);
  color: var(--color-text);
  font-family: inherit;
  padding: 7px 20px;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
}
.note-dialog-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.637);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 2000;
  transition: all 0.3s;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
.scale {
  transform: scale(0);
}
.color-box {
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
  width: 70%;
  height: 100%;
  align-items: center;
}
.color-box .color {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    height: 100vh;
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .container .add-btn {
    position: fixed;
    left: calc(100vw - 100px);
    bottom: 50px;
  }
  .note-editor {
    padding-bottom: 20px;
    height: 70vh;
    width: 100vw;
    justify-content: space-around;
  }
  .color-box {
    height: 30px;
    width: 100vw;
    justify-content: center;
    gap: 10px;
  }
  .color-box .color {
    height: 25px;
    width: 25px;
    flex-shrink: 0;
    /* margin-left: 10px; */
  }
  .note-editor-footer {
    flex-direction: column;
  }
  .note-editor-footer .btn-box {
    width: 70%;
    margin: 0;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 700px;
  }
}

.color-box div.outline {
  border: var(--color-primary) solid 4px;
}
